.NavBar-HomeButton{
    height: 50px;
    justify-content: flex-start;
    align-content: center;
   
}
.NavBar-Button{
    min-width: 100px;
    display: inline;
    padding-left: inherit;
    font-weight: bolder;
}

.NavBar-Row{
    height: 50px;
    justify-content: flex-end;
    align-content: center;
    background-color: #4f4a41;
}