.NavBar-HomeButton{
    height: 50px;
    justify-content: flex-start;
    align-content: center;
   
}
.NavBar-Button{
    min-width: 100px;
    color: #123c69;
    display: inline;
    padding-left: inherit;
}

.NavBar-Row{
    height: 50px;
    justify-content: flex-end;
    align-content: center;
}