.AboutMe-Container{
    background-color: #112D32;
}

.AboutMe-RowContainer{
    justify-content: center;
}

.AboutMe-Img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.AboutMe-Header{
    font-weight: bolder;
    float: left;
}

.AboutMe-Paragraph{
    float: left;
    text-align: left;

}

.AboutMe-TextBox{
    height: 100px;
}